<div class="login2-box">
  <h3>Add new Task</h3>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="newUserTaskForm">
        <div class="row">
          <div class="col-6">
            <mat-label>Task Status</mat-label>

          </div>
          <div class="col-6">
            <mat-select formControlName="taskStatus" placeholder="Select Task Status">
              <mat-option>
                ToDo
              </mat-option>
              <mat-option>
                InProgress
              </mat-option>
              <mat-option>
                Completed </mat-option>
            </mat-select>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-label>Due Date</mat-label>

          </div>
          <div class="col-6">
            <input matInput formControlName="dueDate" placeholder="DueDate">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-label>Task Title</mat-label>

          </div>
          <div class="col-6">
            <input matInput formControlName="taskTitle" placeholder="TaskTitle">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-label>Task Description</mat-label>

          </div>
          <div class="col-6">
            <input matInput formControlName="taskDescription" placeholder="taskDescription">
          </div>
        </div>

        <div class=row>

          <div class="col-6">

            <div>
              <button mat-icon-button color="accent">
                <mat-icon (click)="onSubmit()">edit</mat-icon>
              </button>
              <button mat-icon-button aria-role="button" id="delete-dialog-icon">
                <mat-icon color="accent">delete</mat-icon>
              </button>
            </div>

          </div>
        </div>
        <button mat-raised-button id="btn-cancel">Cancel</button>
        <button type="submit" mat-raised-button color="accent" id="btn-add" (click)="onSubmit()">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>