<div class="my-theme">

  <mat-card>


    <mat-card-content>
      <mat-table>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let rowIndex = index;"></mat-row>

        <ng-container matColumnDef="Assessment Name">
          <mat-header-cell *matHeaderCellDef>{{ 'assessmentName'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]="">{{element.name}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Last Modified">
          <mat-header-cell *matHeaderCellDef>{{ 'lastModifiedColumn'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Version">
          <mat-header-cell *matHeaderCellDef>{{ 'version'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Last Modified By">
          <mat-header-cell *matHeaderCellDef>{{ 'lastModifiedBy'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef>{{ 'status'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Details">
          <mat-header-cell *matHeaderCellDef class="action-cell"></mat-header-cell>
          <mat-cell *matCellDef="let element;let row" class="action-cell">
          </mat-cell>
        </ng-container>
        <button mat-icon-button>
          <mat-icon color="primary">arrow_forward</mat-icon>
        </button>




      </mat-table>



    </mat-card-content>
  </mat-card>
</div>