<div class="user-box">
  <mat-card>

    <div class="col-12">
      <mat-card class="col-12">
        <div class="d-flex header-container">
          <h3> Manage Tasks </h3>
        </div>

        <mat-card-content>
          <app-manage-task-grid></app-manage-task-grid>
        </mat-card-content>

        <div class="no-gutters row">
          <!-- <mat-paginator #paginator class="col-12" [length]="10" [pageSize]="10" [pageSizeOptions]="0"
              [pageIndex]="0"></mat-paginator> -->
        </div>
      </mat-card>
    </div>
  </mat-card>
</div>