<div>

  <mat-card>
    <div class="mat-subheading-2">List of Tasks
    </div>

    <mat-card-content>
      <mat-table>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let rowIndex = index;"></mat-row>

        <ng-container matColumnDef="Assessment Name">
          <mat-header-cell *matHeaderCellDef>{{ 'assessmentName'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]="">{{element.name}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Last Modified">
          <mat-header-cell *matHeaderCellDef>{{ 'lastModifiedColumn'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Version">
          <mat-header-cell *matHeaderCellDef>{{ 'version'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Last Modified By">
          <mat-header-cell *matHeaderCellDef>{{ 'lastModifiedBy'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef>{{ 'status'}}</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <span [matTooltip]=""></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Details">
          <mat-header-cell *matHeaderCellDef class="action-cell"></mat-header-cell>
          <mat-cell *matCellDef="let element;let row" class="action-cell">
          </mat-cell>
        </ng-container>
        <button mat-icon-button>
          <mat-icon color="primary">arrow_forward</mat-icon>
        </button>




      </mat-table>


      <div class="col-12">
        <mat-card class="col-12">
          <div class="d-flex header-container">
            <span> Manage Tasks </span>


            <button mat-button color="accent">
              Create a New Task
            </button>

          </div>



          <mat-card-content>
            <mat-slide-toggle [checked]="false">
              Show Completed Tasks
            </mat-slide-toggle>
          </mat-card-content>



          <div class="no-gutters row">
            <mat-paginator #paginator class="col-12" [length]="10" [pageSize]="10" [pageSizeOptions]="0"
              [pageIndex]="0"></mat-paginator>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>